@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

* {
    box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

html {
    background-color: 	rgb(241, 241, 241);
    height: 100%;
    position: relative;
}

main {
    margin: auto;
    max-width: 40em;
    flex: 1;
    padding-top: 2em;
}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--font);
    margin: auto;
    padding-left: 0;
}

.menu li {
    color:rgb(150, 150, 150);
}

.menu.active {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0 1em;
    width: 10em;
    margin-top: 3em;
    background-color: white;
}

.menu.active li {
    text-align: left;
    padding: 1em 0;
}

.body-index {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color:rgb(246, 246, 246);
    background-image: url(../img/jeremy-bishop-8xznAGy4HcY-unsplash\ \(1\).jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
}

.body-flex {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    /* background-image: url(../img/kunj-parekh-Y5BD-H9qGvs-unsplash.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; */
}

.index-main {
    overflow: hidden;
    flex: 1;
    padding-bottom: 0.5em;
}

.logo-main {
    overflow: hidden;
    display: block;
    margin-bottom: 1em;
    flex: 1;
}

footer {
    bottom: 0;
    width: 100%;
}

footer nav {
    padding-bottom: 2em;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 2em;
    color:rgb(200, 200, 200);
    text-align: center;
    padding: 1em;
    overflow: hidden;
    padding-top: 2em;
    margin-bottom: 0;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    margin: 0;
    color:black;
    text-align: left;
}

p {
    margin: 0;
}

video {
    width: 100%;
}

.footer-resize h2 {
    font-size: 1em;
}

.github {
    line-height: 1.7em;
    float: right;
    padding-left: 1.5em;
}

.instagram {
    line-height: 1.7em;
    float: right;
}

.tel {
    float: right;
    font-size: 0.9em;
    padding-top: 0.2em;
}

.mail {
    float: right;
    font-size: 0.9em;  
    padding-top: 0.2em;
    padding: 0 1.6em;
}

header {
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    box-shadow: 0px 0px 3px rgb(191, 191, 191);
    justify-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.36em;
    z-index: 9999;
}

/* header img {
    width: 4%;
    float: left;
    padding-left: 1em;
} */

hr {
    width: 92%;
}

footer {
    background-image: url(../img/kunj-parekh-H69EgivmCjE-unsplash\ \(1\).jpg);
    background-color: rgb(247, 247, 247);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 40% 53%;
    background-repeat: no-repeat;
    padding: 3em;
}

footer h2 {
    color: #eaeaea;
}

footer ul {
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
    font-size: 0.9em;
    padding-left: 0;
    padding: 1em 0;
    margin-top: 0;
}

footer a {
    color: rgb(164, 164, 164);
}

nav {
   font-family: 'Spartan', sans-serif;
}

figcaption {
    font-family: 'DM Sans', sans-serif;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.container {
    padding: 0;
    margin-top: 0;
}

.triple {
    max-width: 52em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
    column-gap: 1em;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 2em;
    text-align: center;
    width: 100%;
    animation-duration: 2s;
    animation-name: titleappear;
    margin-bottom: 1em;
    padding: 0 1em;
    align-items: center;
    justify-items: center;
}

.home-footer {
    background-color: transparent;
    background-image: none;
    height: 150px;
}

.home-footer a {
    color: #eaeaea;
}


.resume {
    text-align: center;
    background-image: url(../img/resume-heading.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.resume button {
    border: none;
    background-color: rgb(241, 241, 241);
}


.categories li {
    font-size: 2em;
    color:white;
    list-style-type: none;
    height: 110px;
    margin-top: 0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    padding-top: 5em;
}

.categories button {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 1px #828282;
    border: none;
}

.link {
    border-radius: 5em;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 1px #828282;
    border: none;
    font-family: 'Spartan', sans-serif;
    font-size: 0.6em;
    padding: 0.5em 0.6em;
    padding-top: 0.8em;
    margin-top: 0.8em;
}

.ui-li {
    background-image: url(../img/ui-index.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ux-li {
    background-image: url(../img/logo-index.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gr-li {
    background-image: url(../img/digital-index.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.web-li {
    background-image: url(../img/web-index.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.logos h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0;
}

.illustrations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

.ai {
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
}

.second_section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 6em;
    margin-left: 3em;
    margin-right: 3em;
}

.nav {
    grid-column-start: 5;
    grid-column-end: 6;
    font-size: 0.7em;
    text-align: right;
    width: 7em;
} 

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(57, 57, 57, .95);
    place-content: center;
    display: grid;
}

.preloader h1 {
    color: white;
}

.animate-loader {
    animation: flashing 2s infinite;
}

.me-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    font-size: 1.5em;
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    left: 0;
    padding-left: 0.8em;
    padding-top: 0.1em;
    font-family: 'Spartan', sans-serif;
    
}

.nav ul {
    display: none;
}

.menu-toggle img {
    width: 31%;
    padding-top: 0.5em;
}

.ui-2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.ui-2grid-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    padding-bottom: 0;
    width: 90%;
    margin: auto;
    animation-duration: 2s;
    animation-name: titleappear;
}

.web-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.web-1 img {
    box-shadow: 0px 0px 3px rgb(210, 210, 210);
}

.web-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0.2em;
}

.ui-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.logo-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.dig-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.mot-head {
    animation-duration: 2s;
    animation-name: titleappear;
    margin-top: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* .logo-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-3 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-8 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
}

.logo-6 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-5 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.logo-1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-9 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-7 {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 4;
} */

.gr-2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.gr-2grid h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ui-2grid h2 {
    grid-row-start: 4;
}

.graphic-doc {
    padding-bottom: 1em;
}

.peach {
    grid-row-start: 4;
    grid-row-end: 4;
    padding-bottom: 0.8em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.iphone-x {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.web {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-p1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.ui-p2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-p3 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-p4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-p5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-3grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    padding-bottom: 0.1em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.ui h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-1 {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-2 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-3 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 4;
}
/* 
.ui-10 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
} */

.ui-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-01 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-4 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-5 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-6 {
    grid-row-start: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.ui-7 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-8 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-9 {
    grid-row-start: 7;
    grid-column-start: 3;
    grid-column-end: 4;
}

.subtitle-break {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

.subtitle-break h1 {
    padding: 1em;
    margin-top: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.static-1 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* .static-1 h2 {
    color: #eaeaea;
} */

.static-2 {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* .static-2 h2 {
    color: #eaeaea;
} */

.grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.graph-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-11 {

    grid-column-start: 2;
    grid-column-end: 3;
}

.intial-h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.graph-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-4 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-5 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-6 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-7 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-8 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-9 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-10 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-11 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-12 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-13 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-14 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-15 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-16 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-17 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-18 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.school-rock {
    grid-column-start: 1;
    grid-column-end: 3;
}

.initial-h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.about_me {
    text-align: center;
}

.hello-header {
    font-family: 'Spartan', sans-serif;
    animation-duration: 2s;
    animation-name: titleappear;
}

.hello-header h1 {
    padding-bottom: 1em;
    font-family: 'Spartan', sans-serif;
    color: rgb(241, 241, 241);
}

.about {
    font-size: 1.2em;
    padding: 0 1.3em;
}

.about h2 {
    color: rgb(178, 178, 178);
}

.about-p p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
    padding: 0 1.8em;
}

.about-me h1 {
    padding-top: 0.6em;
    margin-top: 0;
}

.skills {
    list-style-type: none;
    line-height: 1.5em;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1.8em;
    padding-top: 0.3em;
    padding-bottom: 1em;
    text-align: center;
}

.align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@keyframes titleappear {
    from {
        opacity: 0;
    } 

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 45em) {

    .logo-main {
        overflow: hidden;
        display: block;
        margin-bottom: 1em;
    }

    .index-main {
        overflow: hidden;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 60em) {

    header {
        background-color: rgb(241, 241, 241);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* box-shadow: 0px 0px 3px rgb(169, 169, 169); */
        justify-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.06em;
    }

    .me-logo {
        padding-top: 0.98em;
        padding-left: 0.8em;
        left: 0;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 6;
        width: 100%;
    }

    .nav ul li {
        display: flex;
        justify-content: space-evenly;
        padding: 1em 2em;
        padding-bottom: 0.7em;
    }

    .nav ul {
        display: flex;
    }

    .nav li a {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}