@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Nova+Oval&display=swap');

* {
    box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

html {
    background-color: 	rgb(241, 241, 241);
    height: 100%;
    position: relative;
}

main {
    margin: auto;
    max-width: 40em;
    flex: 1;
}

.body-index {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.body-flex {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.index-main {
    overflow: hidden;
    flex: 1;
}

.logo-main {
    overflow: hidden;
    display: block;
    margin-bottom: 3em;
    flex: 1;
}

footer {
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 2em;
    color:rgb(200, 200, 200);
    text-align: center;
    padding: 1em;
    overflow: hidden;
    padding-top: 2em;
    margin-bottom: 0;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    margin: 0;
    color:black;
    text-align: left;
}

p {
    font-family: 'Spartan', sans-serif;
    margin: 1em 0.3em;
    text-align: left;
    color: black;
    font-size: 0.9em;
    grid-column-start: 1;
    grid-column-end: 4;
}

video {
    width: 100%;
}

.nav li a {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-resize h2 {
    font-size: 1em;
}

.github {
    color: white;
    line-height: 1.7em;
    float: left;
    padding: 0 1.4em;
}

.instagram {
    color: white;
    line-height: 1.7em;
    float: left;
}

.tel {
    color: white;
    float: left;
    font-size: 0.9em;
    padding-top: 0.2em;
}

.mail {
    color: white;
    float: left;
    font-size: 0.9em;  
    padding-top: 0.2em;
    padding-left: 1.5em;
}

header {
    background-color: rgb(241, 241, 241);
    /* background-image: url(../img/shapelined-_JBKdviweXI-unsplash\ \(1\).jpg);
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 4%;
    float: left;
    padding-left: 1em;
}

hr {
    width: 92%;
}

footer {
    background-color: black;
    padding: 3em;
    padding-top: 2.8em;
    color: #eaeaea;
}

footer h2 {
    color: #eaeaea;
}

footer ul {
    color: #eaeaea;
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
    font-size: 0.9em;
    padding-left: 0;
    padding: 1em 0;
    margin-top: 0;
}

nav {
    font-family: 'Spartan', sans-serif;
}

figcaption {
    font-family: 'DM Sans', sans-serif;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.container {
    padding: 0;
    padding-bottom: 3em;
    margin-top: 0;
}

.triple {
    max-width: 52em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
    column-gap: 1em;
}

.categories {
    text-align: center;
    width: 100%;
    animation-duration: 2s;
    animation-name: titleappear;
}

.resume {
    text-align: center;
    font-family: 'Bellota', cursive;
}

.resume button {
    padding: 1em;
    border-radius: 3em;
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 1px #9d9d9d;
    font-family: 'DM Sans', sans-serif;
    width: 9em;
}


.categories li {
    font-size: 2em;
    color:white;
    list-style-type: none;
    margin: 0.7em 0;
    padding: 2.5em 0;
    height: 90px;
    margin-top: 0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 7em;
    padding-top: 5em;
}

.ui-li {
    background-image: url(../img/Layer\ 2\ \(5\).svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.ux-li {
    background-image: url(../img/Layer\ 1\ \(4\).svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.gr-li {
    background-image: url(../img/Layer\ 3\ \(5\)_1.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.logos h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0;
}

.illustrations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

.ai {
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
}

.second_section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 6em;
    margin-left: 3em;
    margin-right: 3em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
    max-width: 60em;
    font-size: 0.7em;
    width: 100vw;
    margin: auto;
    width: 70%;
}

.me-logo {
    left: 0;
    padding-top: 1em;
    padding-left: 1em;
    z-index: 9999;
    position: fixed;
    font-size: 1.65em;
    font-family: 'Bellota', cursive;
    color: rgb(150, 150, 150);
}

/* nav li:hover {
  
} */

.ui-2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.ui-2grid-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    padding-bottom: 0;
    width: 90%;
    margin: auto;
    animation-duration: 2s;
    animation-name: titleappear;
}

.ui-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.logo-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.dig-head {
    animation-duration: 2s;
    animation-name: titleappear;
}

.mot-head {
    animation-duration: 2s;
    animation-name: titleappear;
    margin-top: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* .logo-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-3 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-8 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
}

.logo-6 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-5 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.logo-1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo-9 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-7 {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 4;
} */

.gr-2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.gr-2grid h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ui-2grid h2 {
    grid-row-start: 4;
}

.graphic-doc {
    padding-bottom: 3em;
}

.peach {
    grid-row-start: 4;
    grid-row-end: 4;
    padding-bottom: 0.8em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.iphone-x {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.web {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-p1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.ui-p2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-p3 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-p4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-p5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-3grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.8em;
    padding: 0 2em;
    padding-bottom: 3em;
    animation-duration: 2s;
    animation-name: titleappear;
}

.ui h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-1 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-2 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-3 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 4;
}

.ui-10 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-01 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ui-4 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-5 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-6 {
    grid-row-start: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.ui-7 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-8 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-9 {
    grid-row-start: 7;
    grid-column-start: 3;
    grid-column-end: 4;
}

.subtitle-break {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

.subtitle-break h1 {
    padding: 1em;
    margin-top: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.static-1 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: 4;
}

.static-2 {
    grid-row-start: 11;
    grid-column-start: 1;
    grid-column-end: 4;
}


.grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.graph-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-11 {

    grid-column-start: 2;
    grid-column-end: 3;
}

.intial-h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.graph-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-4 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-5 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-6 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-7 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-8 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-9 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-10 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-11 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-12 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-13 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-14 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-15 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-16 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.graph-17 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.graph-18 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.school-rock {
    grid-column-start: 1;
    grid-column-end: 3;
}

.initial-h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.about_me {
    text-align: center;
}

.hello-header {
    font-family: 'Spartan', sans-serif;
    animation-duration: 2s;
    animation-name: titleappear;
}

.hello-header h1 {
    padding-bottom: 1em;
    font-family: 'Spartan', sans-serif;
}

.about {
    font-size: 1.2em;
    padding: 0 1.3em;
}

.about h2 {
    color: rgb(178, 178, 178);
    font-family: 'Bellota', cursive;
}

.about-p p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
    padding: 0 1.8em;
}

.about-me h1 {
    padding-top: 0.6em;
    margin-top: 0;
}

.skills {
    list-style-type: none;
    line-height: 1.5em;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1.8em;
    padding-top: 0.3em;
    padding-bottom: 1em;
    text-align: center;
}

.align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@keyframes titleappear {
    from {
        opacity: 0;
    } 

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 45em) {

    .logo-main {
        overflow: hidden;
        display: block;
        margin-bottom: 3em;
    }

    .index-main {
        overflow: hidden;
        margin-bottom: 0;
    }
}